html {
    padding: 10px;
}

html,
body {
    margin: 0px;
}

body {
    display: inline-block;
    min-width: 100%;
}

table {
    width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table th {
    cursor: pointer;
}

.content-table .th-sort-asc:after {
    content: "\25b4";
}

.content-table .th-sort-desc:after {
    content: "\25be";
}

.content-table .th-sort-asc:after,
.content-table .th-sort-desc:after {
    margin-left: 5px;
}

.content-table .th-sort-asc,
.content-table .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

table tbody {
    display: block;
    max-height: 750px;
    overflow-y: scroll;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.atma {
    font-weight: bold;
    position: relative;
    background: none;
    color: #2d132c;
    width: 150px;
    height: 50px;
    border: 3px solid #46b5d1;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.atma:focus {
    outline: none;
}

.atma:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.atma:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.atma:hover {
    background: #46b5d1;
    cursor: pointer;
}

.atma:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.atma:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}